.treeContainer {
	height: 1470px;
	width: 985px;
	position: relative;
	background-color: #fff;
	margin: auto;
}

.msg {
	margin: 100px 100px;
}

.msg h1 {
	margin: auto;
	text-align: center;
	font-size: 300px;
	font-family: "Lucida Handwriting", "Lucida Sans", "Lucida Sans Regular",
		"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: red;
}
.top,
.middle,
.bottom,
.base {
	position: relative;
}

.top .little-star {
	position: absolute;
	height: 210px;
	width: 560px;
	background-color: rgb(247, 218, 163);
	clip-path: polygon(
		415px 129px,
		470px 128px,
		485px 76px,
		504px 127px,
		558px 126px,
		515px 160px,
		533px 211px,
		485px 180px,
		445px 213px,
		460px 160px
	);
	z-index: 6;
	border: 10px solid #000;
}

.top .big-star {
	position: absolute;
	height: 275px;
	width: 625px;
	background-color: rgb(235, 184, 89);
	clip-path: polygon(
		345px 107px,
		453px 104px,
		485px 1px,
		520px 103px,
		626px 100px,
		541px 164px,
		577px 266px,
		489px 206px,
		403px 270px,
		434px 168px
	);
	z-index: 5;
}

.top {
	width: 400px;
	height: 400px;
}

.middle {
	width: 500px;
	height: 500px;
}

.bottom {
	width: 600px;
	height: 600px;
}

.top-branches {
	z-index: 4;
	background-color: rgb(75, 179, 134);
}

.middle-branches {
	z-index: 3;
	background-color: rgb(66, 158, 118);
}

.bottom-branches {
	z-index: 2;
	background-color: rgb(54, 143, 105);
}

.left-branch {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: rotate(130deg);
}

.right-branch {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: rotate(-130deg);
}

.middle-branch {
	position: absolute;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	transform: rotate(180deg);
}

.top .left-branch {
	left: 155px;
	top: 150px;
	clip-path: polygon(0px 0px, 400px 0px, 400px 200px, 0px 200px);
}

.top .middle-branch {
	left: 385px;
	top: 380px;
}

.top .right-branch {
	left: 428px;
	top: 150px;
	clip-path: polygon(0px 0px, 400px 0px, 400px 200px, 0px 200px);
}

.middle .left-branch {
	left: 20px;
	top: 0px;
	clip-path: polygon(0px 0px, 500px 0px, 500px 250px, 0px 250px);
}

.middle .right-branch {
	left: 460px;
	top: 0px;
	clip-path: polygon(0px 0px, 500px 0px, 500px 250px, 0px 250px);
}

.middle .middle-branch {
	left: 360px;
	top: 250px;
}

.bottom .left-branch {
	left: -50px;
	top: -250px;
	clip-path: polygon(0px 0px, 600px 0px, 600px 300px, 0px 300px);
}

.bottom .right-branch {
	left: 450px;
	top: -250px;
	clip-path: polygon(0px 0px, 600px 0px, 600px 300px, 0px 300px);
}

.bottom .middle-branch {
	left: 360px;
	top: 50px;
}

.trunk {
	position: absolute;
	top: 1180px;
	left: 45%;
	width: 120px;
	height: 300px;
	background-color: rgb(133, 78, 76);
	z-index: 1;
}

.ball {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(235, 184, 89);
	z-index: 5;
}

.ball::before {
	position: absolute;
	left: 40%;
	top: -28%;
	content: "";
	width: 20px;
	height: 30px;
	background-color: rgb(222, 69, 58);
}

.ball::after {
	position: absolute;
	left: 35.5%;
	top: -44%;
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 12px solid rgb(222, 69, 58);
	background-color: transparent;
}

.ball span::before {
	left: 48%;
	top: -152%;
	position: absolute;
	content: "";
	width: 5px;
	height: 120px;
	background-color: #fff;
}

.ball span::after {
	left: 20%;
	top: 20%;
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(247, 218, 163);
}

.top .ball-three {
	position: absolute;
	left: 560px;
	top: 650px;
}

.top .ball-one {
	position: absolute;
	left: 300px;
	top: 650px;
}

.top .ball-two {
	position: absolute;
	left: 450px;
	top: 550px;
}

.middle .ball-four {
	position: absolute;
	left: 650px;
	top: 550px;
}

.middle .ball-three {
	position: absolute;
	left: 510px;
	top: 600px;
}

.middle .ball-one {
	position: absolute;
	left: 190px;
	top: 600px;
}

.middle .ball-two {
	position: absolute;
	left: 350px;
	top: 550px;
}
